<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.cloud.admin.manage.dao.device.DeviceQrNoDao">

    <insert id="saveQrNo" parameterType="DeviceQrNo">
        INSERT INTO device_manage.d_qr_no (qr_no, status, project_id, type, old_status)
        VALUES
        <foreach collection="list" item="item" separator="," close=";">
            (#{item.qrNo}, 1, #{item.projectId}, 1, 1)
        </foreach>
    </insert>

    <insert id="saveCheckPoint" parameterType="DeviceQrNo">
        INSERT INTO device_manage.d_check_point (building_id, building_floor_id, qr_no, project_id, status)
        VALUES
        <foreach collection="list" item="item" separator="," close=";">
            (0, 0,#{item.qrNo}, #{item.projectId}, 1)
        </foreach>
    </insert>

    <update id="modifyQrNoProject" parameterType="DeviceQrNo">
        UPDATE device_manage.d_qr_no
        SET project_id = #{projectId}
        WHERE qr_no = #{qrNo}
    </update>

    <update id="modifyCheckPointProject" parameterType="DeviceQrNo">
        UPDATE device_manage.d_check_point
        SET project_id = #{projectId}
        WHERE qr_no = #{qrNo}
    </update>
</mapper>