<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.cloud.task.core.dao.task.TaskReviewDeviceDao" >
    <resultMap id="taskReviewDeviceResultMap" type="com.xjt.cloud.task.core.entity.TaskReviewDevice" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="project_id" property="projectId" jdbcType="BIGINT"/>
        <result column="task_review_id" property="taskReviewId" jdbcType="BIGINT" />
        <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
        <result column="qr_no" property="qrNo" jdbcType="VARCHAR" />
        <result column="device_qr_no" property="deviceQrNo" jdbcType="VARCHAR" />
        <result column="building_name" property="buildingName" jdbcType="VARCHAR"/>
        <result column="floor_name" property="floorName" jdbcType="VARCHAR"/>
        <result column="device_status" property="deviceStatus" jdbcType="INTEGER" />
    </resultMap>

    <!--保存任务审核设备结果-->
    <insert id="saveTaskReviewDevice" parameterType="TaskReviewDevice" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_task_review_device
            (task_review_id, project_id, device_name, qr_no, device_qr_no, building_name, floor_name, device_status)
        VALUES
            (#{taskReviewId}, #{projectId}, #{deviceName}, #{qrNo}, #{deviceQrNo}, #{buildingName}, #{floorName}, #{deviceStatus});
    </insert>

    <!-- 查询任务审核列表-->
    <select id="findTaskReviewDeviceList" resultMap="taskReviewDeviceResultMap">
        SELECT id, project_id, task_review_id, device_name, qr_no, device_qr_no, building_name, floor_name, device_status
        FROM t_task_review_device trd
        <where>
            <if test="id != null">
                trd.task_review_id = #{id}
            </if>
        </where>
    </select>
</mapper>