<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.cloud.cas.server.dao.sys.UserDao" >
    <resultMap id="userResultMap" type="com.xjt.cloud.cas.server.entity.SysUser" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="login_name" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />

    </resultMap>
    <sql id="userBaseColumnList" >
        id, login_name, password
    </sql>

    <select id="selectOne" resultMap="userResultMap" parameterType="String" >
        SELECT
        <include refid="userBaseColumnList" />
        FROM s_user
        WHERE  (login_name = #{loginName} OR phone = #{loginName}) LIMIT 1
    </select>

</mapper>