<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.cloud.safety.core.dao.fault.FaultHandlerDao" >

    <resultMap id="faultHandlerResultMap" type="com.xjt.cloud.safety.core.entity.fault.FaultHandler" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="fault_repair_record_id" property="faultRepairRecordId" jdbcType="BIGINT" />
        <result column="repair_user_id" property="repairUserId" jdbcType="BIGINT" />
        <result column="examine_user_id" property="examineUserId" jdbcType="BIGINT" />
    </resultMap>

    <sql id="faultSql">
       id, fault_repair_record_id, project_member_id, user_type
    </sql>

    <sql id="findFaultWhere">
        WHERE 1 = 1
        <if test="faultRepairRecordId != null">
            AND fault_repair_record_id = #{faultRepairRecordId}
        </if>
        <if test="faultRepairRecordIds != null and faultRepairRecordIds.length > 0">
            AND fault_repair_record_id IN
            <foreach collection="faultRepairRecordIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>

        <if test="repairUserId != null and repairUserId > 0">
            AND repair_user_id = #{repairUserId}
        </if>
        <if test="repairUserId != null and repairUserId == -1">
            AND repair_user_id &gt; 0
        </if>

        <if test="examineUserId != null and examineUserId > 0">
            AND examine_user_id = #{examineUserId}
        </if>
        <if test="examineUserId != null and examineUserId == -1">
            AND examine_user_id &gt; 0
        </if>
        <if test="id != null and id != 0">
            AND id = #{id}
        </if>
    </sql>

    <!-- 新增数据 -->
    <insert id="saveFaultHandler" parameterType="FaultHandler" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO f_fault_handler(fault_repair_record_id, repair_user_id, examine_user_id)
        VALUES (#{faultRepairRecordId}, #{repairUserId}, #{examineUserId});
    </insert>

    <!-- 批量新增数据 -->
    <insert id="saveFaultHandlerList" parameterType="FaultHandler">
        INSERT INTO f_fault_handler (fault_repair_record_id, repair_user_id, examine_user_id)
        VALUES
        <foreach collection="list" item="item" separator=","  close=";">
            (#{item.faultRepairRecordId}, #{item.repairUserId}, #{item.examineUserId})
        </foreach>
    </insert>

    <!-- 删除 -->
    <delete id="deletedFaultHandler" parameterType="FaultHandler">
        DELETE FROM f_fault_handler
        <include refid="findFaultWhere"/>
    </delete>

</mapper>