<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.cloud.project.core.dao.project.BuildingFloorDao">
    <resultMap id="buildingFloorResultMap" type="com.xjt.cloud.project.core.entity.project.BuildingFloor">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="floor_name" property="floorName" jdbcType="VARCHAR"/>
        <result column="floor" property="floor" jdbcType="BIGINT"/>
        <result column="building_id" property="buildingId" jdbcType="BIGINT"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <!--删除建筑物楼层-->
    <update id="deleteBuildingIdBuildingFloor" parameterType="java.lang.Long">
         update p_building_floor set deleted = true WHERE building_id =  #{buildingId}
    </update>


    <!--批量保存建筑物楼层-->
    <insert id="saveBuildingFloor" parameterType="BuildingFloor" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `p_building_floor`( `floor_name`, `floor`, `building_id`, `create_user_id`,
        `create_user_name`,`create_time`,`deleted`,`image_url`)
        VALUES
        <foreach collection="list" item="buildingFloor" separator=",">
            (#{buildingFloor.floorName}, #{buildingFloor.floor}, #{buildingFloor.buildingId}, #{buildingFloor.createUserId},
            #{buildingFloor.createUserName},NOW(),false,#{buildingFloor.imageUrl})
        </foreach>
    </insert>

    <!--查询建筑物楼层-->
    <select id="findByBuildIngFloors" parameterType="java.lang.Long" resultMap="buildingFloorResultMap">
        SELECT pbf.id,pbf.floor_name,pbf.floor,pbf.building_id,pbf.image_url from p_building_floor pbf
        where pbf.building_id  = #{buildingId} and pbf.deleted = false ORDER BY pbf.floor asc
    </select>


    <!--更新建筑物楼层信息-->
    <update id="updateBuildingFloor" parameterType="BuildingFloor">
         update   p_building_floor set
         <if test="deleted!=null">
            deleted = #{deleted}
         </if>
         <if test="floorName!=null">
            ,floor_name = #{floorName}
         </if>
         <if test="floor!=null">
            ,floor = #{floor}
         </if>
         <if test="imageUrl!=null">
            ,image_url = #{imageUrl}
         </if>
         WHERE id =  #{id}
    </update>

    <!--查询所有建筑物楼层-->
    <select id="findByBuildingAllList"  resultMap="buildingFloorResultMap">
        SELECT pbf.id,pbf.floor_name,pbf.floor,pbf.building_id,pbf.image_url from p_building_floor pbf where  pbf.deleted = false
    </select>


</mapper>