<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.cloud.project.core.dao.device.OtherInstructionsDao" >
    <resultMap id="deviceResultMap" type="com.xjt.cloud.project.core.entity.device.OtherInstructions" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="project_info_id" property="projectInfoId" jdbcType="BIGINT" />
        <result column="instructions" property="instructions" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <!--查询设备其他说明-->
    <select id="findOtherInstructions" parameterType="OtherInstructions" resultType="OtherInstructions">
        SELECT
            oi.id, oi.project_info_id projectInfoId, oi.instructions
        FROM d_other_instructions oi
        WHERE oi.project_info_id = #{projectInfoId} LIMIT 1
    </select>

    <insert id="saveOtherInstructions" parameterType="OtherInstructions" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO d_other_instructions (project_info_id, instructions, create_time)
        VALUES (#{projectInfoId}, #{instructions}, NOW())
    </insert>

    <update id="modifyOtherInstructions" parameterType="OtherInstructions">
        UPDATE d_other_instructions SET instructions = #{instructions} WHERE id = #{id}
    </update>
</mapper>