<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.cloud.maintenance.core.dao.device.CheckItemDao" >
    <resultMap id="checkItemResultMap" type="com.xjt.cloud.maintenance.core.entity.device.CheckItem" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="check_name" property="checkName" jdbcType="VARCHAR" />
        <result column="device_type_id" property="deviceTypeId" jdbcType="BIGINT" />
        <result column="check_specification" property="checkSpecification" jdbcType="VARCHAR" />
        <result column="min_value" property="minValue" jdbcType="INTEGER" />
        <result column="max_value" property="maxValue" jdbcType="INTEGER" />
        <result column="unit" property="unit" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="period_type" property="periodType" jdbcType="INTEGER" />
        <result column="item_available_results" property="itemAvailableResults" jdbcType="VARCHAR" />
        <result column="check_type" property="checkType" jdbcType="INTEGER" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="check_action" property="checkAction" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="type" property="type" jdbcType="INTEGER" />
    </resultMap>

    <sql id="findCheckItemWhere">
        WHERE  dci.status &lt;= 98
        <if test="deviceTypeId != null and deviceTypeId > 0">
            AND dci.device_type_id = #{deviceTypeId}
        </if>
        <if test="checkType != null and checkType > 0">
            AND dci.check_type = #{checkType}
        </if>
        <if test="parentId != null">
            AND dt.parent_id = #{parentId}
        </if>
        <if test="checkName != null and checkName != ''">
            AND (dci.grade LIKE CONCAT('%',#{checkName},'%') OR dci.check_name LIKE CONCAT('%',#{checkName},'%'))
        </if>
        <if test="deviceSysIds != null">
            AND dt.parent_id IN
            <foreach collection="deviceSysIds" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
    </sql>
    <sql id="selColumns">
        dci.id, dci.check_name, dci.device_type_id, dci.check_specification, dci.min_value, dci.max_value, dci.unit, dci.period_type, dci.item_available_results,
         dci.check_type, dci.description, dci.check_action, dci.create_time, dci.status,dci.type,dci.grade,dci.code

    </sql>
    <!-- 查询设备巡检项列表总记录数-->
    <select id="findCheckItemListTotalCount" parameterType="CheckItem" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM d_device_check_item dci
        INNER JOIN d_device_type dt ON dci.device_type_id = dt.id
        <include refid="findCheckItemWhere"/>
    </select>
    <!-- 查询设备巡检项列表-->
    <select id="findCheckItemList" parameterType="CheckItem" resultMap="checkItemResultMap">
        SELECT <include refid="selColumns"/>,dt.id deviceTypeId,dt.device_sys_name deviceTypeName,dts.id deviceSysId,dts.device_sys_name deviceSysName
        FROM d_device_check_item dci
        INNER JOIN d_device_type dt ON dci.device_type_id = dt.id
        INNER JOIN d_device_type dts ON dt.parent_id = dts.id
        <include refid="findCheckItemWhere"/>
        <include refid="CommonSqlDao.commonPagingHandle"/>
    </select>
    <!-- 查询设备巡检项列表-->
    <select id="findAllCheckItemTotal" parameterType="CheckItem" resultType="java.lang.Integer">
        SELECT COUNT(*)
         FROM d_device_check_item dci
         INNER JOIN d_device_type dt ON dci.device_type_id = dt.id
         WHERE
         dt.parent_id IN
        <foreach collection="deviceSysIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <!-- 查询设备巡检项-->
    <select id="findCheckItem" parameterType="CheckItem" resultMap="checkItemResultMap">
        SELECT <include refid="selColumns"/>
          FROM d_device_check_item  WHERE id = #{id} LIMIT 1
    </select>

</mapper>