<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.cloud.iot.core.dao.iot.vesa.VesaAreaTypeDao" >
    <select id="findAreaTypeByLoopAndSensor" parameterType="VesaAreaType" resultType="VesaAreaType">
        SELECT
            vat.area_type areaType,vat.unit
        FROM v_vesa_area_type vat
        WHERE vat.loop_name = #{loopName} AND vat.sensor_no = #{sensorNo} AND vat.project_id = #{projectId}
        LIMIT 1
    </select>

</mapper>
