<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.cloud.message.core.dao.message.MsgPushManageDao">

    <resultMap id="msgPushManageResultMap" type="com.xjt.cloud.message.core.entity.MsgPushManage">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <id column="name" property="name" jdbcType="VARCHAR"/>
        <id column="msg_type" property="msgType" jdbcType="INTEGER"/>
        <id column="push_type" property="pushType" jdbcType="INTEGER"/>
        <id column="isChecked" property="isChecked" jdbcType="INTEGER"/>
    </resultMap>
    <!-- 查询消息推送管理 -->
    <select id="findMsgPushManageListCV5" parameterType="MsgPushManage" resultMap="msgPushManageResultMap">
        SELECT mpt.parent_id,mpt.id,mpt.`name`,mpt.msg_type,mpt.push_type,
            if(mt.msg_push_type_id ,1,0) as isChecked
        FROM m_msg_push_type mpt
        LEFT JOIN(
            SELECT
                mpm.project_id,
                SUBSTRING_INDEX( SUBSTRING_INDEX( mpm.msg_push_type_ids, ';', ht.id), ';',- 1 ) AS
                msg_push_type_id
            FROM m_msg_push_manage mpm
            JOIN iot_manage.b_base_data ht
            ON ht.id
              <![CDATA[ <= ]]>
            ( length( mpm.msg_push_type_ids ) - length( REPLACE ( mpm.msg_push_type_ids, ';', '' ) ) + 1 )
            WHERE mpm.project_id = #{projectId}
        ) mt ON mpt.id = mt.msg_push_type_id
        WHERE mpt.deleted = 0
        GROUP BY mpt.id
    </select>
    <!-- 删除消息推送管理 -->
    <delete id="deleteMsgPushManageCV5" parameterType="MsgPushManage">
        DELETE FROM m_msg_push_manage
        WHERE project_id = #{projectId}
    </delete>
    <!-- 保存消息推送管理 -->
    <insert id="saveMsgPushManageCV5" parameterType="MsgPushManage">
        INSERT INTO m_msg_push_manage (`project_id`,`phone_user_ids`,`sms_user_ids`,`msg_push_type_ids`)
        VALUES
        (#{projectId},#{phoneUserIds},#{smsUserIds},#{msgPushTypeIds});
    </insert>
    <!-- 查询发送短信提醒用户 -->
    <select id="findSmsUsersCV5" parameterType="MsgPushManage" resultType="User">
        SELECT ou.id as id, ou.user_id as userId, ou.user_name as userName
        FROM (
            SELECT substring_index( substring_index( mpm.sms_user_ids, ';', b.id), ';',- 1 ) as userId
            FROM m_msg_push_manage mpm
            JOIN iot_manage.b_base_data b ON b.id <![CDATA[ <= ]]> ( length( mpm.sms_user_ids ) - length( REPLACE ( mpm.sms_user_ids, ';', '' ) ) + 1 )
            WHERE mpm.project_id = #{projectId}
        ) m
        INNER JOIN project_manage.p_org_user ou ON m.userId = ou.user_id AND ou.project_id = #{projectId}
    </select>
    <!--查询发送语音提醒用户-->
    <select id="findPhoneUsersCV5" parameterType="MsgPushManage" resultType="User">
        SELECT ou.id AS id, ou.user_id AS userId, ou.user_name AS userName
        FROM (
            SELECT substring_index( substring_index( mpm.phone_user_ids, ';', b.id), ';',- 1 ) AS userId
            FROM m_msg_push_manage mpm
            JOIN iot_manage.b_base_data b ON b.id   <![CDATA[ <= ]]>  ( length( mpm.phone_user_ids ) - length( REPLACE ( mpm.phone_user_ids, ';', '' ) ) + 1 )
            WHERE mpm.project_id = #{projectId}
        ) m
        INNER JOIN project_manage.p_org_user ou ON m.userId = ou.user_id AND ou.project_id = #{projectId}
    </select>
    <!-- 查询消息推送管理 -->
    <select id="findMsgPushManage" parameterType="MsgPushManage" resultMap="msgPushManageResultMap">
        SELECT mpm.id, mpm.project_id projectId, mpm.phone_user_ids phoneUserIds, mpm.phone_levels phoneLevels, mpm.sms_user_ids smsUserIds,
        mpm.sms_levels smsLevels, mpm.linkage_levels linkageLevels, mpm.msg_user_ids msgUserIds, mpm.msg_levels msgLevels, pml.id projectMsgLevelId,
        ifnull(pml.event_type_level_1,pmld.event_type_level_1) eventTypeLevel1, ifnull(pml.event_type_level_2,pmld.event_type_level_2) eventTypeLevel2,
        ifnull(pml.event_type_level_3,pmld.event_type_level_3) eventTypeLevel3, ifnull(pml.event_type_level_4,pmld.event_type_level_4) eventTypeLevel4,
        ifnull(pml.event_type_name_level_1,pmld.event_type_name_level_1) eventTypeNameLevel1,
        ifnull(pml.event_type_name_level_2,pmld.event_type_name_level_2) eventTypeNameLevel2,
        ifnull(pml.event_type_name_level_3,pmld.event_type_name_level_3) eventTypeNameLevel3,
        ifnull(pml.event_type_name_level_4,pmld.event_type_name_level_4) eventTypeNameLevel4
        FROM ( SELECT 1) t
        LEFT JOIN m_msg_push_manage mpm ON mpm.project_id = #{projectId}
        LEFT JOIN project_manage.p_project_msg_level pml ON pml.project_id = mpm.project_id
        LEFT JOIN project_manage.p_project_msg_level pmld ON pmld.type = 3 LIMIT 1
    </select>

    <!-- 保存消息推送管理 -->
    <insert id="saveMsgPushManage" parameterType="MsgPushManage" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO m_msg_push_manage (project_id, phone_user_ids, phone_levels, sms_user_ids, sms_levels, msg_user_ids, msg_levels, linkage_levels) VALUES
        (#{projectId}, #{phoneUserIds}, #{phoneLevels}, #{smsUserIds}, #{smsLevels}, #{msgUserIds}, #{msgLevels}, #{linkageLevels})
    </insert>

    <update id="modifyMsgPushManage" parameterType="MsgPushManage">
        UPDATE m_msg_push_manage SET phone_user_ids = #{phoneUserIds}, phone_levels = #{phoneLevels}, sms_user_ids = #{smsUserIds}, sms_levels = #{smsLevels},
        msg_user_ids = #{msgUserIds}, msg_levels = #{msgLevels},linkage_levels = #{linkageLevels}
        WHERE id = #{id}
    </update>

    <!-- 查询发送短信提醒用户 -->
    <select id="findUserList" resultType="User">
        SELECT ou.id as id, ou.user_id as userId, ou.user_name as userName
        FROM project_manage.p_org_user ou WHERE ou.project_id = #{projectId}
        AND ou.user_id IN
        <foreach collection="userIds" item="userId" separator="," open="(" close=")">
            #{userId}
        </foreach>
    </select>

    <!-- 查询 消息推送管理 数量 -->
    <select id="findMsgPushManageNum" parameterType="MsgPushManage" resultType="java.lang.Integer">
        SELECT COUNT(mpt.id)
        FROM (
            SELECT substring_index(substring_index(mpm.msg_push_type_ids, ';', b.id), ';', -1) AS msg_push_type_ids
            FROM message_manage.m_msg_push_manage mpm
            JOIN iot_manage.b_base_data b ON b.id <![CDATA[ <= ]]> (length(mpm.msg_push_type_ids) - length(REPLACE (mpm.msg_push_type_ids, ';', '')) + 1)
            WHERE mpm.project_id = #{projectId}
        ) m
        INNER JOIN message_manage.m_msg_push_type mpt ON mpt.id = m.msg_push_type_ids AND mpt.push_type = #{pushType}
    </select>
    
    <insert id="saveProjectMsgLevel" parameterType="MsgPushManage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO project_manage.p_project_msg_level (project_id, model_name, type, status, event_type_level_1, event_type_level_2, event_type_level_3, event_type_level_4,
         create_time, event_type_name_level_1, event_type_name_level_2, event_type_name_level_3, event_type_name_level_4)
         VALUES
         (#{projectId},null,1,1,#{eventTypeLevel1},#{eventTypeLevel2},#{eventTypeLevel3},#{eventTypeLevel4},
         now(),#{eventTypeNameLevel1},#{eventTypeNameLevel2},#{eventTypeNameLevel3},#{eventTypeNameLevel4});
    </insert>

</mapper>