<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.cloud.admin.manage.dao.backstage.PutStorageDao" >
    <resultMap id="putStorageResultMap" type="com.xjt.cloud.admin.manage.entity.inventory.PutStorage" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="producer_name" property="producerName" jdbcType="VARCHAR" />
        <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
        <result column="producer_id" property="producerId" jdbcType="BIGINT" />
        <result column="product_id" property="productId" jdbcType="BIGINT" />
        <result column="product_name" property="productName" jdbcType="VARCHAR" />
        <result column="order_time" property="orderTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="product_type" property="productType" jdbcType="INTEGER" />
    </resultMap>

    <sql id="findPutStorageWhere">
        WHERE  ps.status &lt;= 98
        <if test="producerName != null and producerName != ''">
            AND p.producer_name = #{producerName}
        </if>
        <if test="orderNum != null and orderNum != ''">
            AND ps.order_num LIKE CONCAT('%',#{orderNum},'%')
        </if>
        <if test="producerId != null and producerId != 0">
            AND ps.producer_id = #{producerId}
        </if>
    </sql>
    <sql id="selColumns">
        ps.id, ps.order_num, p.producer_name,ps.producer_id, pr.product_name,ps.product_id,ps.num,
        ps.status, ps.order_time, ps.memo, ps.create_time,
        pr.product_type
    </sql>
    <!-- 查询设备巡检项列表总记录数-->
    <select id="findPutStorageListTotalCount" parameterType="PutStorage" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM backstage_manage.i_put_storage ps
        INNER JOIN backstage_manage.i_producer p ON ps.producer_id = p.id  AND p.status &lt;= 98
        INNER JOIN backstage_manage.i_product pr ON ps.product_id = pr.id  AND p.status &lt;= 98
        <include refid="findPutStorageWhere"/>
    </select>

    <!-- 查询设备巡检项列表-->
    <select id="findPutStorageList" parameterType="PutStorage" resultMap="putStorageResultMap">
        SELECT <include refid="selColumns"/>
        FROM backstage_manage.i_put_storage ps
        INNER JOIN backstage_manage.i_producer p ON ps.producer_id = p.id  AND p.status &lt;= 98
        INNER JOIN backstage_manage.i_product pr ON ps.product_id = pr.id  AND p.status &lt;= 98
        <include refid="findPutStorageWhere"/>
        <include refid="CommonSqlDao.commonPagingHandle"/>
    </select>

    <!-- 查询设备巡检项列表-->
    <select id="findPutStorage" parameterType="PutStorage" resultMap="putStorageResultMap">
        SELECT <include refid="selColumns"/>
        FROM backstage_manage.i_put_storage ps
        INNER JOIN backstage_manage.i_producer p ON ps.producer_id = p.id  AND p.status &lt;= 98
        INNER JOIN backstage_manage.i_product pr ON ps.product_id = pr.id  AND p.status &lt;= 98
        <include refid="findPutStorageWhere"/>
        LIMIT 1
    </select>

    <!--添加设备巡检项-->
    <insert id="savePutStorage" parameterType="PutStorage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO backstage_manage.i_put_storage (order_num, producer_id,product_id, num,  status, order_time, memo, create_time)
         VALUES (#{orderNum}, #{producerId}, #{productId} ,#{num},  1, #{orderTime}, #{memo}, NOW());
    </insert>

    <!--修改设备巡检项-->
    <update id="modifyPutStorage" parameterType="PutStorage">
        UPDATE backstage_manage.i_put_storage
        <set>
            <if test="orderNum != null and orderNum != 0">
                order_num = #{orderNum} ,
            </if>
            <if test="producerId != null and producerId != 0">
                producer_id = #{producerId} ,
            </if>
            <if test="productId != null and productId != 0">
                product_id = #{productId} ,
            </if>
            <if test="num != null and num != 0">
                num = #{num} ,
            </if>
            <if test="status != null and status != 0">
                status = #{status} ,
            </if>
            <if test="orderTime != null">
                order_time = #{orderTime} ,
            </if>
            <if test="memo != null and memo != ''">
                memo = #{memo} ,
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>
