<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjt.cloud.admin.manage.dao.info.RecruitInfoDao" >
    <resultMap id="recruitInfoResultMap" type="com.xjt.cloud.admin.manage.entity.info.RecruitInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="findRecruitInfoListWhere">
        <if test="userName != null and userName != ''">
            AND user_name LIKE CONCAT('%',#{userName},'%')
        </if>
        <if test="phone != null and phone != ''">
            AND phone LIKE CONCAT('%',#{phone},'%')
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
    </sql>

    <!-- 查询平台信息初使化信息列表 -->
    <select id="findRecruitInfoList" resultMap="recruitInfoResultMap" parameterType="RecruitInfo">
        SELECT *
        FROM backstage_manage.w_recruit_info
        WHERE status &lt;= 98
        <include refid="findRecruitInfoListWhere"/>
        <include refid="CommonSqlDao.commonPagingHandle"/>
    </select>

    <!-- 查询平台信息初使化信息列表总行数 -->
    <select id="findRecruitInfoListTotalCount" resultType="java.lang.Integer" parameterType="RecruitInfo">
        SELECT COUNT(*)
        FROM backstage_manage.w_recruit_info
        WHERE status &lt;= 98 <include refid="findRecruitInfoListWhere"/>
    </select>

    <!--新增平台信息初使化信息 -->
    <insert id="saveRecruitInfo" parameterType="RecruitInfo" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO backstage_manage.w_recruit_info (user_name,phone, status, create_time)
        VALUES
        (#{userName},#{phone},  1, NOW());
    </insert>

    <!--修改平台信息初使化信息 -->
    <update id="modifyRecruitInfo" parameterType="InfoContent">
        UPDATE backstage_manage.w_recruit_info
        <set>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
